<app-login-layout
    title="Cadastre-se e adote agora!"
    primaryBtnText="Casdastrar"
    secondaryBtnText="Entrar"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!cadastroForm.valid"
>
    <form [formGroup]="cadastroForm">
        <app-primary-input
            formControlName="name"
            inputName="name"
            type="text"
            label="Your name"
            placeholder="Ramisés Jônata"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="ramisesjonata@gmail.com"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Your Password"
        >
        <img src="/assets/svg/password-icon.svg"/>
    </app-primary-input>
    <app-primary-input
        formControlName="passwordConfirm"
        inputName="passwordConfirm"
        type="password"
        label="Confirm your Password"
    >
        <img src="/assets/svg/password-icon.svg"/>
    </app-primary-input>
    </form>
</app-login-layout>