$accent-color: #DEAD6F;
$dark-color: #222222;
$light-dark-color: #727272;
$light-color: #fff;
$grey-color: #dbdbdb;
$light-grey-color: #fafafa;
$primary-color: #6995B1;
$light-primary-color: #eef1f3;

$text-color: #41403E;
$secondary-color: #222222;