/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

* {
    margin: 2px 2px 2px 2px;
    padding: 1px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}